/* .containerpreview{
    border: 2px solid black;
    min-height:200px;
}
.heading{
    margin: 20px;
    text-align:center ;
}
body{
    margin: 0px 200px;
} */
/* .main-box{
    min-height: 780px;
    background-color: rgb(48, 46, 46);
} */
/* .alert{
    position: sticky;
    color: brown;
} */